{% extends 'core/base.html' %}
{% block content %}
<h2>Crear Nueva Tarea</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Título</label>
        <input type="text" name="titulo" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea name="descripcion" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}